<!-- =======================================================================================
  Html:         pageNotFound.html - Mercado-Liebre

  Summary:      For educational purpose creates a sample JS application.
  Disclaimer:   Mercado-Liebre is a not comertial app.

  Date:         September 21, 2021

  Develop By:   Angel Antognoli

--------------------------------------------------------------------------------------------
  Related Code: pageNotFound.css

  Dependencies: package.json
--------------------------------------------------------------------------------------------
  This code is part of the javascript Code Samples ONLY for Educational purposes.
  Mercado-Liebre is a NOT comertial app for comertial purposes.

  This source code is intended only as a supplement to javascript
  Development Tools and/or on-line documentation.
  See these other materials for detailed information regarding javascript code samples.

  All data and Code in this database is ficticious.
  
  THIS CODE AND INFORMATION ARE PROVIDED "AS IS" WITHOUT WARRANTY OF ANY KIND, 
  EITHER EXPRESSED OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE IMPLIED 
  WARRANTIES OF MERCHANTABILITY AND/OR FITNESS FOR A PARTICULAR PURPOSE.
======================================================================================== -->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>404 HTML Tempate Page Not Found</title>

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/pageNotFound.css">
	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Maven+Pro:400,900" rel="stylesheet">
	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="css/pageNotFound.css" />
</head>

<body>
	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>404</h1>
			</div>
			<h2>We are sorry, Page not found!</h2>
			<p>The page you are looking for might have been removed had its name changed or is temporarily unavailable.</p>
			<a href='http://localhost:3000'>Back To Homepage</a>
		</div>
	</div>
</body>
</html>